* {
	background-color: #f0f8ff; 
}

#navbar {
	position: absolute;
	margin-top: 3px;
	margin-left: 550px;
}

#header {
	position: relative;
	top: -5px;
	background-color: #3c4543;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;

}

ul{
	list-style-type: none;
	position: fixed;
	margin: -10px;
}

li {
	display: inline-block;
	padding: 5px;
	font-family: Futura, Tahoma, sans-serif;
	border-radius: 5px 5px;
}

a:hover {
	color: red;
}

img {
	float: right;
	position: relative;
	margin: 100px 10px 10px 10px;
	display: inline-block;
}

#test {
	margin-top: 100px;
	display: inline-block;
	float: left;
	width: 50em;
}

hover {
	color: red;
}